* {
  box-sizing: border-box;
  padding: 10px;
  margin: 2px;
}

body {
  /* background: linear-gradient(lightGray, gray, darkGray); */
  background: #181818;
  color: #fefefe;
  font-family: "Geomanist", Helvetica, Arial, sans-serif;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

img {
  /* filter: grayscale(60%); */
  border-radius: 50%;
}

a.nav-link {
  color:#b3a577;
  font-size: 25px !important;
}

h2 {
  position: absolute;
  /* text-align: left; */
  left: 0px;
}

@media screen and (max-width: 600px) {
  .url {
    margin:20px 0;
  }
}