* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background: linear-gradient(lightGray, gray, darkGray); */
    background-color: black;
    color: whitesmoke;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

img {
    filter: grayscale(60%);
    
}