html {
  box-sizing: border-box;
}

*, *::before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(315deg, #090947 0%, #5a585a 74%) #090947;
  color: #fefefe;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 100%;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 96%;
  margin: 2rem auto;
}

h2 {
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

.row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fefefe;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fefefe;
  padding: 10px;
  width: 25%;
  margin: 20px;
  border-style: solid;
  border-width: 1px;
  flex-basis: calc(33.33% - 40px);
  min-width: 200px;
} */

.card {
  flex: 0 0 calc(50% - 30px);
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fefefe;
  padding: 10px;
  margin: 20px;
  border-style: solid;
  border-width: 1px;
  flex-basis: calc(33.33% - 40px);
  min-width: 200px;

}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

button,
a.btn.btn-secondary {
  background-color: #181818;
  color: #fefefe;
  border: none;
  border-radius: 50px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
a.btn.btn-secondary:hover {
  background-color: #333333;
}

@media screen and (max-width: 992px) {
  .card {
    flex-basis: calc(50% - 40px); 
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  .card {
    flex: 0 0 calc(100% - 30px); 
  }
}
